@model Mat3m.Models.Booking

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>

<h3>هل انت متاكد من حذف ذلك الحجز?</h3>
<div>
    <h4>الحجز</h4>
    <hr />
    <div class="container-fluid">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10" style="color:crimson">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10" style="color:crimson">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TableNumber)
            </dt>
            <dd class="col-sm-10"style="color:crimson">
                @Html.DisplayFor(model => model.TableNumber)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-dark">Back to List</a>
        </form>
    </div>
</div>